
.contactContainer{
    background-color: white;
    padding: 5rem 0;

}.contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #24272E;
    width: fit-content;
    margin: auto;

    h1{
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 40px;
text-align: center;

    }
    >p{
font-family: Inter;
width: 498px;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: center;

    }
    input{
            padding: 10px;
            border-radius: 8px;
            width: 550px;
            margin-top: 10px;
            margin-bottom: 1rem;
    }

    textarea{
           padding: 10px;
            border-radius: 8px;
            width: 550px;height: 117px;
            margin-top: 1rem;
    }
    .name{
        display: flex; 
        gap: 8px;  

        input{
            width: 267px;
            padding: 10px;
            border-radius: 8px;   
        }
        }
        .btn{
            border: 1px solid rgb(54, 158, 255);
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin: auto;
            width: fit-content;
            padding: 4px 8px;
            border-radius: 8px;
            margin-top: 1rem;
            }

}

